flask
Flask-Cors
Flask-Babel
Flask-Login
Flask-WTF
Flask-SQLAlchemy
flask-swagger-ui
flasgger
gunicorn
mysqlclient
sqlalchemy
flask-swagger
jwt
python-dotenv
typing-extensions
wheel
werkzeug
wrapt
wtforms
