python-dotenv
flask
flask_cors
sqlalchemy
flask
Flask-SQLAlchemy
mysqlclient
jwt
flask_swagger_ui
flask_swagger
flask_sqlalchemy
LB_USER=lb LB_PWD=Team_Project LB_HOST=localhost  LB_DB=LB ENV=development python3 -m run